* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 40vw;
    height:40vh;
    background-color: lightgrey;
    position: relative;
    margin: 20px auto;
    /*text-align: center;*/
    background: url(../img/canyon.jpg);
    background-size: cover;
}


.word {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.8;
    text-shadow: 2px 2px rgb(0,0,0);
}

.overlay {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.3);
}
.container:nth-child(2) {
    background: url(../img/budapest.jpg);
}

.container:nth-child(3) {
    background: url(../img/manhattan.jpg);
}
